@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-bg: #ffdfb7;
  --clr-pri: #f59e0b;
  --clr-sec: #d97706;
  --clr-text-pri: #1a202c;
  --clr-text-sec: #4b5563;
}


body {
  background-color: var(--clr-bg);
  font-family: "Quicksand", sans-serif;
  color: var(--clr-text-pri);
}

